<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="row" >
      <h2 class="my-title"><%= @recipe.name %></h2>
      <div class="col-md-6 col-xs-12">
        <%= image_tag @recipe.image.medium.url %>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="">
          <p><span class="recie-label">
            Tipo
          </span> <%= @recipe.food_type.name %>
        </p>
        </div>
        <div class="">
          <p><span class="recie-label">
            Cozinha
          </span> <%= @recipe.cuisine.name %>
        </p>
        </div>
        <div class="">
            <p>
            <span class="recie-label">
              Pessoas por porção
            </span> <%= @recipe.people %>
          </p>
        </div>
        <div class="">
          <p>
            <span class="recie-label">
              Tempo de preparo</span> <%= @recipe.time %>
          </p>
        </div>
        <div class="">
          <p>
            <span class="recie-label">
              Nível
            </span>
              <%= find_i18n_string(Recipe, 'difficulties', @recipe.difficulty) %>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="recipe-text-container">
        <h3 class="my-title">Ingredientes</h3>
        <p><%= print_list(@recipe.ingredients, list_type = :unordered) %></p>
      </div>
      <div class="recipe-text-container">
        <h3 class="my-title">Modo de preparo</h3>
        <p><%= print_list(@recipe.procedure, list_type = :ordered) %></p>
      </div>
      <% if @recipe.user == current_user %>
      <%= link_to 'Excluir receita', recipe_path(@recipe), method: :delete,
      style: 'float:right;'%>
      <% end %>
      <br>
      <p id="favorites" >
        <% if @recipe.users_like.include?(current_user) %>
          <%= link_to  recipe_favorite_path(@recipe),
          method: :delete, id: :'disfavorite-button' do %>
            <i class="fa fa-star fa-2x button-star" aria-hidden="true">
              <%= @recipe.favorite_number %>
            </i>
          <% end %>
        <% else %>
          <%= link_to recipe_favorites_path(@recipe), method: :post,
              id: :'favorite-button' do %>
            <i class="fa fa-star-o fa-2x button-star" aria-hidden="true">
              <%= @recipe.favorite_number %>
            </i>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
</div>
