<li class="dropdown <%= 'active' if current_page?(new_food_type_path) ||
                                      current_page?(food_types_path) %>">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"
  role="button" aria-haspopup="true" aria-expanded="false">
    Tipo de refeição <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li class="<%= 'active' if current_page?(new_food_type_path) %>">
      <%= link_to "Nova refeição", new_food_type_path %>
    </li>
    <li class="<%= 'active' if current_page?(food_types_path) %>">
      <%= link_to "Lista de refeição", food_types_path %>
    </li>
  </ul>
</li>
